.sheet-info {
    width: 500px;
    display:flex;
    flex-direction:column;
}

.sheet-info div {
    display:flex;
    justify-content: space-between;
}

.sheet-skills {
    display: grid;
    grid-template-columns: 200px 70px 70px;
}

.sheet-desc {
    display: flex;
    justify-content: space-between;
}

.sheet-attribute-select {
    width: 60px;
    margin-left: auto;
}

.sheet-skills-list {
    display: flex;
}

.sheet-combat-abilities {
    display: grid;
    grid-template-columns: 150px 20px 20px 20px;
}

.sheet-weapons {
    display: grid;
    grid-template-columns: 250px 40px 70px 70px 70px auto;
}

.sheet-weapon-focus .sheet-cover {
    width:70px;
    height:40px;
    background:transparent;
    position:absolute;
    z-index:2;
    display:block;
}