.sheet-info {
    width: 500px;
    display:flex;
    flex-direction:column;
}

.sheet-info div {
    display:flex;
    justify-content: space-between;
}

.sheet-skills {
    display: grid;
    grid-template-columns: 200px 70px 70px;
}

.sheet-desc {
    display: flex;
    justify-content: space-between;
}

.sheet-attribute-select {
    width: 60px;
    margin-left: auto;
}

.sheet-skills-list {
    display: flex;
}

.sheet-combat-abilities {
    display: grid;
    grid-template-columns: 150px 20px 20px 20px;
}

.sheet-weapons {
    display: grid;
    grid-template-columns: 250px 40px 70px 70px 70px auto;
}

.sheet-weapon-focus .sheet-cover {
    width:70px;
    height:40px;
    background:transparent;
    position:absolute;
    z-index:2;
    display:block;
}

.sheet-spells {
    display: grid;
    grid-template-columns: 210px 40px 30px 10px 30px 100px 80px 80px 40px auto
}

input[type=number]:disabled {
    -moz-appearance: textfield;
}

.sheet-no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sheet-no-spin {
    -moz-appearance:textfield;
}

.sheet-small-digit {
    width: 2em !important;
}

.sheet-spells-target {
    width: 100px;
}

.sheet-spells-range {
    width: 75px;
}

.sheet-spells-duration {
    width: 75px;
}

.sheet-spells-test {
    width: 3em;
}

