.sheet-header {
    font-size: 18px;
    text-align: center;
}

.sheet-header-minor {
    font-size: 15px;
}

.sheet-line {
    width: 100%;
    height: 2px;
    background: black;
}

.sheet-info {
    width: 500px;
    display:grid;
    grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px [col] 100px;
}
.sheet-img-name {
    width: 300px;
}
.sheet-img-name div {
    display:flex;
    flex-direction: column;
}

.sheet-img-name div span {
    align-self: center;
}

.sheet-img-name div input {
    width: 100%;
}

.sheet-info div {
    display:flex;
    flex-direction: column;
}

.sheet-info div input {
    width: 100%;
}
button[type="roll"].sheet-text-button::before {
    content: "";
}

button[type="roll"].sheet-text-button {
    background-color: transparent;
    border: none;
    /*line-height: 12px;*/
    background-image: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-weight: bold;
    text-align: left;
}

button[type="roll"].sheet-text-big{
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.sheet-section-attributes-and-skills {
    display: flex;
}

.sheet-attributes {
    font-size: 30px;
    width: 100%;
}

.sheet-attributes-container {
    width: 100%;
    margin-right: 10px;
}

.sheet-attributes div {
    display: flex;
    height: 40px;
}

.sheet-attributes input[type="number"]{
    font-size: 30px;
    width: 1.75em;
    border: 0;
    margin: 0  20px  0 10px;
}

.sheet-combat-ability-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sheet-combat-ability-entry input {
    text-align: center;
}

.sheet-combat-ability-entry div {
    display: flex;
}

.sheet-currency {
    display: flex;
}

.sheet-currency div{
    display: flex;
    flex-direction: column;
}

.sheet-section-abilities {
    display: flex;
}
.sheet-section-abilities div {
    margin-right: 10px;
}

.sheet-wound-selection {
    width: 80px;
}

.sheet-archetype {
    grid-column: col / span 3;
}
.sheet-species {
    grid-column: col 4 / span 2;
}
.sheet-age {
    grid-column: col / span 1;
}
.sheet-eyes {
    grid-column: col 2 / span 1;
}
.sheet-hair {
    grid-column: col 3 / span 1;
}
.sheet-height {
    grid-column: col 4 / span 1;
}
.sheet-weight {
    grid-column: col 5 / span 1;
}
.sheet-dist-features {
    grid-column: col / span 4;
}
.sheet-xp {
    grid-column: col 5/ span 1;
}

.sheet-section-character {
    display: flex;
    flex-direction: row;
}

.sheet-skills {
    display: grid;
    grid-template-columns: 170px 70px 70px;
}

.sheet-desc {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

.sheet-desc button[type="roll"].sheet-text-button{
    font-size: 13px;
}

.sheet-attribute-select {
    width: 60px;
    margin-left: auto;
}

.sheet-skills-list {
    display: flex;
}

.sheet-combat-mel-acc-def {
    display: grid;
    grid-template-columns: 100px 20px 20px 20px;
}
.sheet-combat-abilities {
    display: flex;
}

.sheet-combat-misc {
    display: grid;
    grid-template-columns: 100px 100px;
}

.sheet-section-gear {
    display: flex;
}

.sheet-section-gear div{
    margin-right: 10px;
}

.sheet-weapons {
    display: grid;
    grid-template-columns: 250px 40px 70px 70px 70px auto;
}

.sheet-weapon-focus .sheet-cover {
    width:70px;
    height:40px;
    background:transparent;
    position:absolute;
    z-index:2;
    display:block;
}

.sheet-spells {
    display: grid;
    grid-template-columns: 210px 40px 30px 10px 30px 100px 80px 80px 40px auto
}

.sheet-spells input {
    height: 28px;
}

.sheet-spells button[type="roll"] {
    height: 22px;
}

input[type=number]:disabled {
    -moz-appearance: textfield;
}

.sheet-no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sheet-no-spin {
    -moz-appearance:textfield;
}

input[type="number"].sheet-small-digit {
    width: 2em;
}

.sheet-spells-target {
    width: 100px;
}

.sheet-spells-range {
    width: 75px;
}

.sheet-spells-duration {
    width: 75px;
}

.sheet-spells-modifier {
    width: 3em;
}

.sheet-miracles {
    display: grid;
    grid-template-columns: 210px 55px 75px 100px 75px 100px auto
}

.sheet-miracles input {
    height: 28px;
}

.sheet-miracles button[type="roll"] {
    height: 22px;
}


.sheet-miracle-target {
    width: 100px;
}

.sheet-miracle-range {
    width: 75px;
}

.sheet-miracle-cost {
    width: 75px;
}

.sheet-miracle-duration {
    width: 100px;
}

.sheet-equipment {
    display: grid;
    grid-template-columns: 75px auto;
}

.sheet-fluff-info {
    height: 60px;
}

.sheet-miracle-effect {
    width: 210px;
    height: 40px;
}

.sheet-spells-effect {
    width: 210px;
    height: 40px;
}
